{% extends 'base.html' %}
{% load road_tags %}
{% load static %}
{% block title %} Landing {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="side-tab">

   </div>
   <div class="main-tab">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                      <h2 class="bold">{{ road_count }}</h2>
                      <span class="small">No. Roads</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="bold">{{ total_length|floatformat:1 }} km</h2>
                        <span class="small">Total Length</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="bold">{{contractors_count}}</h2>
                        <span class="small">No. Contractors</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                      <h2 class="bold">{{total_cost|money}}</h2>
                      <span class="small">Total Cost</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <canvas id="construction-chart" height="100"></canvas>
            </div>

            <div class="col-md-12">
                <canvas id="maintenance-chart" height="100"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <canvas id="structure-chart"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="surface-chart"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 contractor">
                <div class="search-bar">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Contractor Name ..." name="query" id="search-contractor">
                    </div>
                </div>
                <ul class="list-group" id="contrators-list">
                    {% for contractor in contractors %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ contractor.contractor|lower|capfirst }} 
                            <span class="badge badge-brand badge-pill">{{contractor.contracts_count}}</span>
                        </li>
                    {% endfor %}
                </ul>

                <div class="d-none" id="contractors">
                    {{ contractors }}
                </div>
            </div>
            
            <div class="col-md-6">
                <div>
                    <h4>Materials</h4>
                </div>
                <ul class="list-group">
                    {% for material in materials %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ material.material}}
                        <span class="badge badge-brand badge-pill">{{material.material_count}}</span>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="search-bar">
                <h4>Road Authority</h4>
            </div>
            <ul class="list-group list-group-horizontal">
                {% for authority in road_authorities %}
                    <li class="list-group-item flex-fill">{{authority.authority}}</li>
                {% endfor %}
            </ul>
        </div>
   </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q==" crossorigin="anonymous"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}