{% extends 'base.html' %}
{% load static %}
{% block title %} Landing {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid home">
    <div class="main-matter">
        <p>Roads, and means of transport, make a crucial contribution to economic development and growth and bring important social benefits.</p>
        <a href="{}" class="btn btn-brand btn-lg">Explore</a>
    </div>
</div>
<div class="container-fluid">
    <h3 class="title text-center my-5">PROGRESS</h3>

    <!-- project milestone -->
    <div class="milestone">
        <div class="timeline">
            <div class="container-timeline left">
              <div class="content">
                <h2>2017</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
              </div>
            </div>
            <div class="container-timeline right">
              <div class="content">
                <h2>2016</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
              </div>
            </div>
            <div class="container-timeline left">
              <div class="content">
                <h2>2015</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
              </div>
            </div>

            <div class="container-timeline right">
                <div class="content">
                  <h2>2014</h2>
                  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                </div>
              </div>
        </div>
    </div>

    <h3 class="title text-center my-5">TESTIMONIALS</h3>
</div>
{% endblock %}

{% block javascript %}
    
{% endblock %}