{% extends 'base.html' %}
{% load static %}
{% block title %} Map {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
<div class="map" id="map">
    <div class="search-section">
        <input type="text" class="form-control form-control-sm" id="search-input" name="search" placeholder="Search Road Name ..">

        <div class="search-result">
            <ul class="list-group list-group-sm" id="search-result">
            </ul>
        </div>
    </div>

    <div class="filter-section collapse-filter py-2 px-2" id="filter-section">
        <span class="btn-close" id="btn-close">&times;</span>
        <h5 class="title-section">Visual Type</h5>
        <div class="section-viusal py-2 px-2" id="secton-visual">
            <div class="form-group d-flex">
                <input class="form-check" type="radio" name="visual" id="material" checked value="default">
                <label class="form-check-label" for="material">
                  Default
                </label>
            </div>
            <div class="form-group d-flex">
                <input class="form-check" type="radio" name="visual" id="material" value="material">
                <label class="form-check-label" for="material">
                  Material
                </label>
            </div>

            <div class="form-group d-flex">
                <input class="form-check" type="radio" name="visual" id="contractor" value="contractor">
                <label class="form-check-label" for="contractor">
                  Contractor
                </label>
            </div>

            <div class="form-group d-flex">
                <input class="form-check" type="radio" name="visual" id="surface" value="surface" >
                <label class="form-check-label" for="surface">
                  Surface
                </label>
            </div>

            <div class="form-group d-flex">
                <input class="form-check" type="radio" name="visual" id="structure" value="structure" >
                <label class="form-check-label" for="structure">
                  Structure
                </label>
            </div>
        </div>

        <h5 class="title-filter">Filter</h5>
        <div class="section-filter" id="secton-filter">
            <div class="form-row mb-2 pl-3">
                <div class="col">
                    <input type="radio" class="form-check" name="progress"  value="all" id="all">
                    <label for="all">All</label>
                  </div>

                <div class="col">
                  <input type="radio" class="form-check" name="progress"  value="completed" id="completed">
                  <label for="">Completed</label>
                </div>
                <div class="col">
                  <input type="radio" class="form-check" name="progress" value="ongoing" id="ongoing" placeholder="Last name">
                  <label for="">Ongoing</label>
                </div>
            </div>

            <div class="input-group  input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="material-select">Material</label>
                </div>
                <select class="custom-select" id="material-select" name="material">
                </select>
            </div>

            <div class="input-group  input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="contractor-select">Contractor</label>
                </div>
                <select class="custom-select" id="contractor-select" name="contractor">
                </select>
            </div>

            <div class="input-group  input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="surface-select">Surface</label>
                </div>
                <select class="custom-select" id="surface-select" name="surface">
                </select>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'leaflet/leaflet.js'%}"></script>
    <script src="{% static 'js/map.js'%}"></script>
{% endblock %}