{% extends 'base.html' %}
{% load static %}
{% block title %} Map {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
<div class="map" id="map">
    <div class="filter-section collapse-filter" id="filter-section">
        <span class="btn-close" id="btn-close">&times;</span>
        <div class="section-filter" id="secton-filter">

        </div>
    </div>
</div>

</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'leaflet/leaflet.js'%}"></script>
    <script src="{% static 'js/map.js'%}"></script>
{% endblock %}