:root {
    --brand-color:#ec877b;
    --primary:#ec958c;
    --brand-cta:#ec958c;
    --gray:#555;
    --light-gray:#7e7e7e;
    --white:#fff;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-brand {
    color:var(--brand-color) !important;
    font-weight: 800;
}

.navbar-collapse {
    justify-content: center;
}