.navbar {
    box-shadow: 2px 1px 0.5em var(--gray);
}

#map {
    height: 92vh;
    width: 100%;
    z-index: 0;
}

.filter-section {
    position: absolute;
    height: 80vh;
    width:360px;
    z-index: 1000;
    top: 12%;
    background-color: var(--white);
    box-shadow: 2px 2px 0.4em var(--gray);
    transition: transform 0.5s ease-in-out;
}

.filter-section.collapse-filter {
    transform:translateX(-360px);
}

.btn-close {
    position: absolute;
    top:0%;
    cursor: pointer;
    right:2%;
    font-size: 2em;
    font-weight: 700;
    background-color: transparent;
}

/*  */
.leaflet-touch .leaflet-bar {
    border-width: 0px !important;
}

.leaflet-touch .leaflet-bar a:first-child {
    margin-bottom: 3px;
}

.leaflet-touch .leaflet-control-layers {
    border:0px;
    border-radius: 50%;
    padding: 4px;
    box-shadow: 2px 2px 0.4em var(--gray);
    background-color: var(--brand-color);
}

.leaflet-control.leaflet-control-layers-expanded {
    border-radius: 2px !important;
    background-color: var(--white) !important;
}

.leaflet-touch .leaflet-control-layers-toggle {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.leaflet-touch .leaflet-bar a{
    padding: 0;
    border-radius: 50% !important;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: var(--brand-color);
    box-shadow: 2px 2px 0.2em var(--gray);
}