#map {
    width:100%;
}

.modal {
    /* display: flex !important; */
}

.modal-dialog {
    min-width: 50%;
}

.img-popup {
    width: 100%;
    object-fit: cover;
}

.cam-section {
    justify-content: space-evenly;
}